<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="img/icon.ico"/>
  <title>Bed And Breakfast 2 - The Official Website</title>
  <!--<link rel="stylesheet" href="/css/style.css">-->
   {{#if showTests}}
   <link rel="stylesheet" href="/vendor/mocha.css">
   {{/if}}
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
   <link href="css/bootstrap2.css" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-default navbar-fixed-top"><body style="padding-top: 70px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><img src="img/logo.png" width="70%"></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topFixedNavbar1">
      <ul class="nav navbar-nav">
        {{#if name}}
        <li><a href="/adminb">Reservations</a></li>
        <li><a href="/adminc">User Questions</a></li>
        {{else}}
        <li><a href="/book">Book A Room</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {{/if}}
          </ul>
          <ul class="nav navbar-nav" style="float: right">
            {{#if name}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
		  </div>
	</div>
	</body>
</nav>
<body>



{{#if name}}
<h2>Welcome, {{name}}</h2>
<h5>Users logged in: {{count}}</h5>
{{/if}}

 {{{body}}}

 {{#if showTests}}
 <div id="mocha"></div>
 <script src="/vendor/mocha.js"></script>
 <script src="/vendor/chai.js"></script>
 <script>
 mocha.ui('tdd');
 var assert = chai.assert;
 </script>
 <script src="/qa/tests-global.js"></script>
 {{#if pageTestScript}}
 <script src="{{pageTestScript}}"></script>
 {{/if}}
 <script>mocha.run();</script>
 {{/if}}

</body>
<br>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type = "text/javascript">
       function Warn() {
          alert ("This is a warning message!");
          document.write ("This is a warning message!");
       }
 </script>
</html>
